html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: black;
    color: limegreen;
}
#app {
    background-color: black;
}

@keyframes blink-caret {
    0%, 100% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: #000; /* Color of the caret (black in this example) */
    }
}

.input-container {
    flex-direction: column;
    color: limegreen;
    width: 100%;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content: center;
}
 .custom-input {
     display: inline-block;
     position: relative;
     border: 1px;
 }

.custom-input input {
    border: 1px;
    width: 100%;
    font-size: 16px;
    background-color: #080808;
    color: limegreen;
}

.component-content {
    border: 2px limegreen solid;
    padding: 1rem;
    margin: 2rem 0;
}
